body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.button-container {
  text-align: center;
}

.login-button,
.reset-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.reset-button {
  background-color: #dc3545;
}